:root{
    --text-color: #fff;
    --btn-text-color: hsl(0, 0%, 100%);
    --btn-background-color:#000;
}
.h-100{
    height: 100%;
}
    #container{
        height: 100vh;
        background-image: url("../images/background.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 50px 0px;
    }

    @media(max-width:768px)
    {
        #container{
            padding: 0px;
        }
    }

    #main-nav {
        /* padding: 20px; */
        width: 1000px;
        margin: 0 auto;
        border-radius: 20px;
        background-color: rgb(232, 236, 8)
    }

    #main-nav ul{
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
    }

    #main-nav ul li{
        width: 100%;
        text-align: center;
    }

    #main-nav ul li a{
        display: block;
        padding: 10px ;
        border-radius: 20px;
        text-decoration: none;
        color: white;
        background-color: rgb(232, 236, 8)
        
    }

    #main-nav ul li a:hover{
        background-color: black;
        color: #fff;
    }

    @media(max-width:768px){
        #main-nav{
            position: fixed;
            z-index: 100;
        }
        #main-nav ul li a span{
            display: none;
        }
    }

    .wrapper{
        background-color: #000;
        width: 1000px;
        margin: 0 auto;
        height: calc(100vh - 150px);
        border-radius: 20px;
        position: relative;
        box-shadow: 0px 0px 20px 2px rgba(71, 66, 66, 0.85);
    }

   
    
.wrapper > .row{
    position: absolute;
    width: 100%;
    height: 100%;
}

 /* Breakpoint */
    /* 1400px-XXL
    1200px-XL
    992px-LG
    768px-MD
    576px-SM */
    
    @media(max-width: 1400px){
        .wrapper, #main-nav{
            width: 1000px;
        }
    }

    @media(max-width: 1200px){
        .wrapper, #main-nav{
            width: 1000px;
        }
    }

    @media(max-width: 992px){
        .wrapper, #main-nav{
            width: 760px;
        }
    }

    @media(max-width: 768px){
        .wrapper, #main-nav{
            width: 100%;
        }
        .wrapper{
            height: 100%;
        }
        .wrapper > .row{
            position: static;
            width: 100%;
            height: auto;
        }
    }

.intro {
    height: 100%;
    text-align: center;
    background-color: rgba(71, 66, 66, 0.85);
    color: var(--text-color);
    display: flex;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.intro a{
    color: var(--text-color);
}
.intro ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

@media(max-width: 768px){
    .intro{
        display: none;
    }
}

.content{
    position: relative;
    overflow-x: hidden;
}

.content > section{
    overflow-y: scroll;
}

@media(max-width: 768px)
{
    .content{
        position: absolute;
        top: 0px;
        width: 100%;
        font-size: 50%;
    }
}

#home{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 1s;
}
#home h1{
    font-size: 5em;
    color: var(--text-color);

}
#home p{
    font-size: 2em;
    color: var(--text-color);
}
#about,#skills,#projects,#contact{
    padding: 20px;
    position: absolute;
    z-index: 10;
    top: 0px;height: 100%;width: 100%;
    background-color: rgb(71, 66, 66);
    color: var(--text-color);
    transition-duration: 1s;
    transform: translateX(-100%);
}
#about h4,#skills h2,#projects h2,#contact h2{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(232, 236, 8, 0.85);
}
#about p{
    text-align: justify;
}
#about ul{
  font-size: 70%;
}
#about ul li{
    letter-spacing: 1px;
}
#about ul li span{
    color:  rgba(232, 236, 8, 0.85);
    font-weight: bold;
}

#about .icon{
    color: rgba(232, 236, 8, 0.85);
    font-size: 1em;
}
#about h4{
    font-size: 1.2em;
}

.timeline{
    position: relative;
}
.timeline .box{
    padding: 0px 50px;
    color: #000;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    position: relative;
    
    
}

.timeline .box.left{
    padding-left: 0px;
}

.timeline .box .inner-box{
    background-color: #fff;
    padding: 20px;
}

.timeline .box.right{
    position: relative;
    left: 50%;
    padding-left: 25px;
}

/* .timeline .box:after{
    contain: "";
    position: absolute;
    z-index: 1;
    top: 20%;
    width: 20px;
    height: 20px;
    background-color:rgba(232, 236, 8, 0.85);
    border-radius: 50%;
}
.timeline .box.left::after{
    right: -14px;
}
.timeline .box.right::after{
    left: -14px;
} */
.timeline::after{
    content: "";
    height: 100%;
    left: 50%;
    top: 0%;
    position: absolute;
    border: 2px solid #fff;
}

.timeline .box::before{
    content: "";
    position: absolute;
    top: 20%;
    border: 20px solid;
   
}
.timeline .box.left::before{
    right: -10px;
    border-color: transparent transparent transparent white;
}
.timeline .box.right::before{
    left: -5px;
    border-color: transparent white transparent transparent;
}

/* Skills */
.skillset ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.skillset ul li .bar {
    position: relative;
    display: block;
    width: 100%;
    height: 10px;
    border-radius: 20px;
    background-color: #fff;
    margin-bottom: 20px;
}

.skillset ul li span::before{
    content: "";
    width: 100%;
    position: absolute;
    height: 100%;
    border-radius: 20px;
    background-color: darkcyan;
    animation: progressbar 1s linear;
}

.skillset ul li span{
    display: block;
    height: inherit;
    width: inherit;
    position: relative;
}

.skillset ul li .p-80{
    width: 80%;
}
.skillset ul li .p-90{
    width: 90%;
}
.skillset ul li .p-40{
    width: 40%;
}
.skillset ul li .p-50{
    width: 90%;
}
.skillset ul li .p-10{
    width: 10%;
}

@keyframes progressbar{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

/* projects */
#projects .card {
    color: #000;
    margin-bottom: 30px;
    overflow: hidden;
}

#projects .card:hover img{
    transition-duration: 1s;
}

#projects .card:hover img{
    transform: scale(1.5,1.5);
}

#home.show,
#about.show,
#skills.show,
#projects.show,
#contact.show {
    transform: translateX(0%);
}

@media(max-weidth: 768px){
    #about,#skills,#projects,#contact{
        margin-top: 20px;
    }

}